.header {
    box-sizing: border-box;  
    border-bottom: 1px solid #ECECEC;  
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.1721;
    background: var(--active-color);
    color: var(--text-color);
    margin: 0 auto;
    align-items: center;
    }